:root {
    background-color: aliceblue;
}

h1 { 
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-size: 25px;
}

h3,
.design-name {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

p,
.designer-name {
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration: none;
}



a:hover {
   background-color: cadetblue;
    color: white;
}