:root {
    background-color: aliceblue;
}

/*******fonts*********/

h1 { 
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-size: 1.5625em;   
}

h3,
.design-name {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25em;
}

p,
.designer-name,
.zen-resources,
.design-archives,
.zen-validate-html,
.zen-validate-css,
.zen-license,
.zen-accessibility,
.zen-github {
    font-family: 'Josefin Sans', sans-serif;
}

/*******margins*******/

h1 {
    margin-top: 15px;
    margin-bottom: 0px;
}

h2 {
    margin-top: 5px;
}

/*******misc******/

.by {
    color:darkslategray;
}

.design-selection li,
.design-archives li,
.zen-resources li {
    list-style-type: none;
}

/**********links************/

a:active {
    color:teal;
}

a:hover {
   background-color: cadetblue;
    color: white;
}

a:visited {
    color:darkslateblue;
}

a {
    text-decoration: none;
    color: teal;   
}




@media (min-width: 600px) {
  h1,
    h2 {
        text-align: center;
        color: darkslateblue;
    }
    
    [role="banner"] {
        background-color: lightgray;
    }
    
    .page-wrapper {
        max-width: 70%;
        margin: 0 auto;
        position: absolute;
        }
    
    .wrapper {
        width: 30%;
        
        position: relative;
        left: 420px;
        bottom: 1950px;
    }
    
    
}

@media (min-width: 900px) {
    
    
    
    
    
    
}


@media (min-width: 1100px) {
    
    
    
    
    
    
    
}