#css-zen-garden {
    background-color: #f0f8ff;
}

[role="contentinfo"] {
    background-color: #8fbc8f;
    font-size: 1.85em;
    font-style: italic;
    font-weight: bold;
}

/*******fonts*********/

h1 { 
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-size: 1.5625em;   
}

h3,
.design-name {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25em;
}

p,
.designer-name,
.zen-resources,
.design-archives,
.zen-validate-html,
.zen-validate-css,
.zen-license,
.zen-accessibility,
.zen-github {
    font-family: 'Josefin Sans', sans-serif;
}

/*******margins*******/

h1 {
    margin-top: 15px;
    margin-bottom: 0px;
}

h2 {
    margin-top: 5px;
}

/*******misc******/

.by {
    color:#2f4f4f;
}

.design-selection li,
.design-archives li,
.zen-resources li {
    list-style-type: none;
}

/**********links************/

/**a:active {
    color: #008080;
}**/

a:hover {
   background-color: #5f9ea0;
    color: #ffffff;
}

a:visited {
    color:#483d8b;
}

a {
    text-decoration: none;
    color:  #008080;   
}




@media (min-width: 600px) {
  h1,
    h2 {
        text-align: center;
        color: #483d8b;
    }
    
    [role="banner"] {
        background-color: #d3d3d3;
    }
    
    .page-wrapper::not([role="banner"]) {
        max-width: 70%;
        background-color: #76b6c4;
        padding: 0 175px 0 110px;  
	    margin: 0;
        
    }
    
    a {
        color: #064273;
    }   
    
    .page-wrapper {
        background-color: #76b6c4;
    } 
    
    p,
    h3,
    footer {
        padding-left: 8px;
    }
}

@media (min-width: 900px) {
    .design-selection li {
        display: inline-block;
        padding-left: 5px;
    }
    
    [role="contentinfo"] {
        font-size: 1.7em;
        float: right;
        
        text-align: center;
    }
       
}


@media (min-width: 1100px) {
   
    .design-selection {
        background-color: #7FCDFF;
    }
}

@media (min-width: 1366px) {
    /**.container {
        margin-right: 10px;
        margin-left: 10px;
    }**/
    
    .col {
        max-width: 22.85067873303167%;
        float: left;
        margin-right: 2.639517345399698%;
    }
    
    
    
   
    
}